.wrapper{
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    padding: 4rem;
}

.text{
    text-align: center;
    margin-bottom: 2rem;
}

.text h2{
    margin-bottom: 1rem;
}

.images{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
}

.images img{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 3px 3px 2px gray;
    border-radius: 1rem;
    max-width: 100%; /* Set maximum width for the images */
    height: auto; /* Maintain aspect ratio */
}

.name{
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    padding-bottom: 1.5rem;
}

.btn button{
    padding: 0.5rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #5072A7;
    color: white;
    margin-top: -2rem;
}

.btn button:hover {
    background-color: #004792;
  }
  
.btn button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}